header{
   width: 100%;
   //position: fixed;
   
    top: 0;
    //padding: 1em;
    height: 4vh;
    text-align: center;
    background-color: rgba(199, 191, 191, 0.814);
    border-bottom: solid;
    border-color: rgb(163, 166, 9);
    font-size: 24px;
    font-weight: bold;
}